{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
    <h1>{{ 'Product List'|trans({}, 'Admin.Catalog.Feature') }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'ID'|trans({}, 'Admin.Catalog.Feature') }}</th>
            <th>{{ 'Name'|trans({}, 'Admin.Catalog.Feature') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id_product }}</td>
                <td>{{ product.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
